@font-face {
    font-family: "daydream";
    src: url("fonts/Daydream.ttf") format("truetype");
}

@font-face {
    font-family: "basiic";
    src: url("fonts/basiic.ttf") format("truetype");
}

body {
    background-image: url("images/139.png");    
    font-family: "basiic", Arial, sans-serif;
}

@keyframes blinking-border {
    0% {
        border-color: #330099;
    }

    50% {
        border-color: #6666cc;
    }

    100% {
        border-color: #330099;
    }
}

.header {
    display:flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    color: #6666cc;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    font-family: "daydream", Arial, sans-serif;
    border: 4px dashed #330099;
    animation: blinking-border 0.5s infinite steps(2);
}

#main-guy {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    flex-direction: column;
    gap: 5px;
    border: 4px dashed #330099;
    animation: blinking-border 0.5s infinite steps(2);
}

#kitty-divider {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page-contents {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

#currently {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 2px;
}

#sidebar {
    display: flex;
    width: 88px;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 2px;
}

#sidebar img {
    object-fit: contain;
    margin: 0;
    padding: 0;
}

#the-page {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
}

#sidebar-right {
    display: flex;
    width: 15%;
    flex-direction: row;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 2px;
}

#sidebar-right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#blinkies {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style:circle;
    list-style-position: inside;
}

#resources {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    gap: 5px;
    border: 4px dashed #330099;
    animation: blinking-border 0.5s infinite steps(2);
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}